{% extends 'layout.html' %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="title is-3">
                Контент на канале
            </div>
            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Видео</th>
                    <th>Дата</th>
                    <th>Просмотры</th>
                    <th>Комментарии</th>
                    <th>Нравится</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for video in videos %}
                    <div class="modal {% if confirm_delete %} is-active {% endif %}">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box has-text-centered">
                                <div class="title is-3">Подтвердите удаление</div>
                                <a href="{% url 'studio:home' %}?confirm=True&pk={{ video.pk }}"
                                   class="button is-success">Подтвердить</a>
                                <a href="{% url 'studio:home' %}" class="button is-warning">Отмена</a>
                            </div>
                        </div>
                    </div>
                    <tr>
                        <td>
                            <a href="{% url 'app:video' video.pk %}">
                                <figure class="image is-128x128">
                                    <img src="{{ video.image.url }}" alt="">
                                </figure>
                            </a>
                        </td>
                        <td>{{ video.created_add }}</td>
                        <td>{{ video.views }} просмотров</td>
                        <td>{{ video.comment_set.count }} комментариев</td>
                        <td>{{ video.likes.count }}</td>
                        <td>
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <button class="button">Выберите действие</button>
                                </div>
                                <div class="dropdown-menu">
                                    <a href="{% url 'studio:video_edit' video.pk %}" class="dropdown-item">Изменить
                                        видео</a>
                                    <a href="{% url 'studio:home' %}?action=delete" class="dropdown-item">
                                        <ion-icon name="trash-outline"></ion-icon>
                                        Удалить
                                    </a>
                                    <a href="{%  url 'studio:home' %}?action=archive&pk={{ video.pk }}" class="dropdown-item">
                                        {% if video.archived %}
                                            Вытащить из архива
                                        {% else %}
                                            Перенести в архив
                                        {% endif %}
                                    </a>
                                </div>
                            </div>

                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}