{% extends 'layout.html' %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <form method="post" class="box">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field">
                                <label class="label">{{ field.label }}</label>
                                <div class="control">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    <button class="button is-success">Загрузить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}