.navbar-icon {
    color: hsl(141, 71%, 48%);
    font-size: 40px;
}
.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.menu a ion-icon {
    color: hsl(141, 71%, 48%);
}

.video-image img {
    width: 550px;
    height: 300px;
}

.video-image img {
    border-radius: 10px;
}