{% extends 'base_layout.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            {% for comment in replies %}
                <div class="comment">
                    <div class="columns is-vcentered">
                        <div class="column is-1">
                            @{{ comment.user }}
                        </div>
                        <div class="column is-2">
                            {{ comment.date }}
                        </div>
                    </div>
                    <div class="content">
                        {{ comment.text }}
                    </div>
                    <div class="field has-addons">
                        <p class="control mx-2">
                            <a href="{% url 'app:comment_likes' comment.pk %}"
                               class="has-text-black {% if user in comment.likes.all %} has-text-success {% endif %}">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                            </a>
                            <span class="ml-2">{{ comment.likes.count }}</span>
                        </p>
                        <p class="control mx-2">
                            <a href="{% url 'app:comment_dislikes' comment.pk %}"
                               class="has-text-black {% if user in comment.dislikes.all %} has-text-danger {% endif %}">
                                <ion-icon name="thumbs-down-outline"></ion-icon>
                            </a>
                            <span class="ml-2">{{ comment.dislikes.count }}</span>
                        </p>
                        <p class="control">
                            <a href="{% url 'app:reply' comment.pk %}" class="ml-2 has-text-black">Ответить</a>
                        </p>
                    </div>
                    <div class="content has-text-info">
                        <ion-icon name="caret-down-outline"></ion-icon>
                        <a href="{% url 'app:reply' comment.pk %}?replies=True" class="ml-2">{{ comment.count_replies }}
                            ответов</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}