{% extends 'base_layout.html' %}

{% block content %}

    <div class="section is-large">
        <div class="container">
            <div class="columns is-centered is-vcentered">
                <div class="column is-5">
                    <div class="box">
                        <form method="post">
                            {% csrf_token %}
                            {{ form }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}